# Dependencies
/minimal/mc-includes/vendor/
/node_modules/

# Build output
/minimal/admin-themes/default/assets/css/*.css
/minimal/admin-themes/default/assets/css/*.css.map
/minimal/admin-themes/default/assets/vendor/
/minimal/admin-themes/classic/assets/css/*.css
/minimal/admin-themes/classic/assets/css/*.css.map
/minimal/admin-themes/classic/assets/vendor/
/content/themes/default/*.css
/content/themes/default/*.css.map

# IDE
/.idea/
/.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Data (sensitive)
/content/data/users.php
/content/data/sessions/
/content/data/settings/

# Pages (keep only home)
/content/data/pages/*
!/content/data/pages/home/

# Cache
/content/data/cache/

# Composer
composer.phar

# PHPUnit
.phpunit.result.cache
/coverage/
wp-config.php
config.php
.phpunit.cache/*

.github/instructions
.github/instructions/*

docs/architecture
docs/architecture/*

content/data/forms-submissions/.htaccess
content/data/forms-submissions/index.php
content/data/posts/hello-world/hello-world.json
content/data/posts/hello-world/hello-world.md
.phpunit.cache/test-results
